<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ТЕСТ</title>
  <link rel="stylesheet" href="static/styles.css">
  <script src="static/TEST.js"></script> 
</head>

<body>
  {{ template "header" . }}
  <main>
    {{ template "regForm" . }}
    <h1>Counter: <span id="num">0</span></h1>
    <button onclick="send('increment')">+</button>
    <button onclick="send('decrement')">-</button>
  </main>
  
  <footer>
    <div class="container_footer">
      <p>&copy; 2024 "Не Мироходец"</p>
    </div>
  </footer>
</body>

</html>